$layout-base-pc: 1440
$layout-base-sp: 750
$layout-width-pc: $layout-base-pc * 1px
$layout-width-sp: $layout-base-sp * 1px

$layout-inner-pc: 1024
$layout-inner-sp: 358
$layout-inner-width-pc: $layout-inner-pc * 1px
$layout-inner-width-sp: $layout-inner-sp * 1px
